@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. @Test

<button @onclick="RandomChange">Click me</button>

@code {
    private string Test = string.Empty;

    private void RandomChange()
    {
        Test = Guid.NewGuid().ToString();
    }
}
