@using MadWorldNL.MantaRayPlan.Web.Services.MessageBuses
@page "/MessageBus"

@inject IMessageBusService Service;

<h1>Message Bus Test Page</h1>
@if (_isLoaded)
{
    <p>status counter: @_counter</p>
    <p>
        <button @onclick="UpdateStatus">
            Set new status
        </button>
    </p>
}

@code {
    private bool _isLoaded;
    private int _counter = 0;

    protected override async Task OnInitializedAsync()
    {
        var status = await Service.GetStatusAsync();
        _counter = status.counter;
        _isLoaded = true;
        
        await base.OnInitializedAsync();
    }

    private async Task UpdateStatus()
    {
        await Service.PostNewStatusAsync();
    }
}