<!-- ! Footer -->
<footer class="footer">
    <div class="container footer--flex">
        <div class="footer-start">
            <p>2024 © MantaRayPlan - <a href="https://mantarayplan.mad-world.nl" target="_blank"
                                             rel="noopener noreferrer">MantaRayPlan.mad-world.nl</a></p>
        </div>
        <ul class="footer-end">
        </ul>
    </div>
</footer>