@inherits LayoutComponentBase

<div class="layer"></div>
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
    <SideBar/>
    <div class="main-wrapper">
        <TopBar />
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                @Body
            </div>
        </main>
        <Footer/>
    </div>
</div>
