<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <packageSourceMapping>
        <packageSource key="PrivateMadWorld">
            <package pattern="DevExpress.*"/>
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*"/>
        </packageSource>
    </packageSourceMapping>
</configuration>